name: Checks
on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  checks:
    runs-on: ubuntu-22.04
    if: ${{ (vars.ENABLE_TESTING || 'true') == 'true' }}
    outputs:
      should_run_tests: ${{ steps.check-changed-files.outputs.should_run_tests }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          # Fetch full history so that before and after commits exist locally
          fetch-depth: 0

      - name: Find Last Successful Checks Run on Branch
        id: last-success
        if: ${{ vars.CHECKS_OPTIMIZE_BASE_REF == 'true' }}
        uses: ./get-last-workflow-success-sha
        with:
          branch: ${{ github.head_ref }}
          default-branch: ${{ github.event.repository.default_branch }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          main-job-name: "checks"
          request-size: 50
          retry-attempts: 3
          workflow-name: "checks.yml"

      - name: Get Changed Files
        uses: Now-Micro/actions/get-changed-files@v1
        id: changed-files
        with:
          head-ref: ${{ github.event.pull_request.head.sha }}
          base-ref: ${{ steps.last-success.outputs.last_success_sha || github.event.repository.default_branch }}

      - name: Check if tests should run based on changed files
        id: check-changed-files
        shell: bash
        run: |
          echo "Changed files: ${{ steps.changed-files.outputs.changed_files }}"
          SHOULD_RUN=false

          # Example logic: run tests if any action.yml, .js or .cs files changed
          # Also run tests if any action.yml files or action folders changed (these affect actions behavior)
          CHANGED_FILES="${{ steps.changed-files.outputs.changed_files }}"
          if echo "$CHANGED_FILES" | grep -qE '\.js|\.cs|action\.yml|\.github/actions/'; then
            SHOULD_RUN=true
          fi

          echo "Should run: $SHOULD_RUN"
          echo "should_run_tests=$SHOULD_RUN" >> "$GITHUB_OUTPUT"

      - name: Run Node tests
        uses: ./.github/actions/run-node-tests
        if: ${{ steps.check-changed-files.outputs.should_run_tests == 'true' }}

      - name: Run all demo composites
        uses: ./.github/actions/run-demo-workflows
        if: ${{ steps.check-changed-files.outputs.should_run_tests == 'true' }}
        with:
          github-token: ${{ secrets.TOKEN_GITHUB_PACKAGES }}